.copyright{
	position:absolute;
    width: 100%;
    height: 20px;
    padding-left: 5px;
    vertical-align: middle;
    /*line-height: 50px;*/
    background: #fff;
    /*color: black;*/
    /*font-weight: bold;*/
}
.tombol_submit{
	/* background: #F0F8FF; */
	background: #35A9DB;
	color: white;
	font-size: 9pt;
	width: 100px;
	border-radius: 10px;
	padding: 8px 8px;
	margin: 1px 0px;
	margin-left: 950px;
	margin-top: 5px;
	cursor: pointer;
}

.card .card-chart .card-body{
	/*margin-left: -100px;*/
	padding:0px;
	margin-top: 0px !important;
	width:100%;
	height: 300px;
}

.highcharts-figure, .highcharts-data-table table {
  width: 500px; 
  /*max-width: 800px;*/
  min-height: 100px;
  margin: 1em auto;
}

.highcharts-figure1, .highcharts-data-table table {
  width: 2000px; 
  width: auto;
  /*max-width: 800px;*/
  min-height: 100px;
  /*margin: 1em auto;*/
}

#PieProduk {
  height: 275px;
}

#BarProduk {
  height: 275px;
}

#PieJenisProject {
  height: 275px;
}

#BarJenisProject {
  height: 275px;
}

#LoadPICstatus {
  height: 250px;
  /*width:1500px;*/
}

#LoadPICtotal {
  height: 250px;
  /*width: 1500px;*/
}

.highcharts-background{
	margin: 0px;
}
.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	/*margin: 10px auto;*/
	text-align: center;
	width: 100%;
	/*max-width: 500px;*/
	/*float:right;*/
}
.highcharts-data-table caption {
  padding: 0.5em 0;
  font-size: 1.2em;
  color: #555;
  /*float: right;*/
}
.highcharts-data-table th {
	font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

.highcharts-plot-background{
  width: 1000px;
  height: 400px;
}

/*Untuk summary col home manager*/
.tile {
  width: 158px;
  height: 50px;
  border-radius: 4px;
  /* box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.15); */
  /* margin-top: 0px; */
  margin-left: 5px;
  float: left;
  border: 1px solid #f4f4f4;
  margin-right: 2px;
}

.tile.wide {
  width: 300px;
}

.tile :first-child {
  border-radius: 4px 4px 0 0;
}

.tile .header {
  height: 70px;
  background-color:#f4f4f4;
  color:white;
  font-weight:300;
}

.tile.wide .header .left, .tile.wide .header .right {
  width:100px;
  float:left;
}

.tile .header .count {
  font-size: 20px;
  text-align:center;
  padding:0px 0 0;
  /* margin-top: -10px; */
  font-weight: bold;
}

.tile .header .title {
  font-size: 15px;
  text-align:center;
  margin-top: -14px;
}

.tile :last-child {
  /* border-radius: 0 0 4px 4px; */
}

.tile .body {
  height: 25px;
  color:#333333;
  background-color:white;
  border: 1px solid;
  /* border-radius: 10px; */
}

.tile .body .title {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 2px;
    /* vertical-align: bottom; */
    /* border-radius: 50px; */
}
}

.tile.wide .body .title {
/*   padding:4%; */
}

/*tile reserved*/
.tile.reserved .header {
  background: #FAD02C;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.tile.reserved .body {
  color: #FAD02C;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
/*akhir tile reserved*/

/*tile on progress*/
.tile.onprogress .header {
  background: #28a745;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.tile.onprogress .body {
  color: #28a745;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
/*akhir tile on progress*/

/*tile pengujian done*/
.tile.done .header {
  border-bottom-left-radius: 15px;
  background: #0091E7;
  /* border-radius: 15px; */
  border-bottom-right-radius: 15px;
}

.tile.done .body {
  color: #0091E7;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
/*akhir tile pengujian done*/

/*tile project done*/
.tile.prodone .header {
  border-bottom-left-radius: 15px;
  background: black;
  /* border-radius: 15px; */
  border-bottom-right-radius: 15px;
}

.tile.prodone .body {
  color: black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
/*akhir tile project done*/

/*tile hold*/
.tile.hold .header {
  background: #FF8000;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.tile.hold .body {
  color: #FF8000;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
/*akhir tile hold*/

/*tile drop*/
.tile.drop .header {
  background: #E50027;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.tile.drop .body {
  color: #E50027;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
/*akhir tile drop*/

.tile.field-change .header {
  background: linear-gradient(to bottom right, #ef7f00, #f7b200);
}

.tile.field-change .body {
  color: #ef7f00;
}

.tile.quote .header {
  background: linear-gradient(to bottom right, #1f6abb, #4f9cf2);
}

.tile.quote  .body {
  color: #1f6abb;
}

.tile.invoice .header {
  background: linear-gradient(to bottom right, #0aa361, #1adc88);
}

.tile.invoice  .body {
  color: #0aa361;
}

.progress {
  padding: 0;
  width: 90%;
  /* height: 15px; */
  overflow: hidden;
  background: #ffffff;
  margin-top: 0px;
  margin-left: 11px;
  border-radius: 10px;
}

.bar {
  position:relative;
  float:left;
  min-width:1%;
  height:100%;
  background: #D6C099;
  /* color: black; */
}

.percent {
  /* position: fixed; */
  margin-top: 0px;
  margin-left: 50px;
  /* transform: translate(-50%,-50%); */
  /*margin-left: 90px;*/
  font-family: tahoma,arial,helvetica;
  font-size: 10px;
  color: #826464;
  font-weight: bold;
}

.btn-tahun{
  background-color: #19569A;
  border: #19569A;
  color: #D9E4EC;
  cursor: pointer;
  font-style: normal;
  font-size: 12px;
  font-weight: bolder;
  height: 30px;
  margin-top: 0px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  float: left;
  padding: 4px;
  width: 50px;
  text-align: center;
}

.btn-alltahun{
  background-color: #19569A;
  border: #19569A;
  color: #D9E4EC;
  cursor: pointer;
  font-style: normal;
  font-size: 12px;
  font-weight: bolder;
  height: 30px;
  margin-top: 0px;
  border-radius: 5px;
  float: left;
  padding: 4px;
  width: 185px;
  text-align: center;
}

.card-tahun{
  width: 20% !important;
  padding: 3px !important;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-top: -5px;
  background: white;
  border-radius: 10px;
  height: 50px;
  border: 1px solid #19569A;
}

.card-all{
  width: 35% !important;
  padding: 3px !important;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-top: -5px;
  background: white;
  border-radius: 10px;
  height: 50px;
  border: 1px solid #19569A;
}

.namaradio{
  margin-top: 3px;
  padding-right: 2px;
}

.header-cardtahun{
  color: black;
  font-weight: bold;
  font-style: italic;
}

.select-tahun{
  border-bottom-color: transparent;
  background: white; 
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-weight: bold;
}

/*.select-tahun > .select2-container--open .select2-container--focus{
  background-color: white !important;
}*/