/*Input Search*/
input[type=text] {
  float: right;
  width: 180px;
 /*  box-sizing: border-box; */
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  background-color: white;
  padding: 5px 0px 5px 10px;
}

.btn-docs{
  /* background-color: #4CAF50; */
	display: button;
	background-color: transparent;
	color: #028476;
	/* margin-top: 10px;
	margin-bottom: 5px;
	padding-right: -10px;
	padding-left: -10px; */
  border: 2px solid #028476;
  cursor: pointer;
	/*margin-top: 5px;*/
	border-radius: 5px;
	padding: 5px 5px;
	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
	display: inline-block;
	vertical-align: middle;
	height: 35px;
}

.btn-docs[disabled],
.btn-docs[disabled]:hover,
.btn-docs[disabled]::after{
  color: #02847654;
  background-color: #02847654;
  border-color: #02847654;
  cursor: not-allowed;
  transform: none;
  content: " ";
}

.btn-docs:hover{
	color: white;
	background: #028476;
  	transform: scale(1.1);
}

.container1{
    display:table;
    width: 100%;
	font-family: sans-serif;
    border-collapse:collapse;
    /* margin:0 auto; */
    line-height:25px;
	color: black;
    background-color: white;
    border-collapse: collapse;
	table-layout:auto;
	/* border: 1px solid blue !important; */
	text-align: center;
}

.modal {
  /*margin-left: 350px;*/
  /*margin-top: 80px;*/
  width: 100%
}

/* Modal Content */
.modal-content {
 background-color: #fefefe;
 padding-top: 0px;
 max-height: 525px
}
/*Modal title untuk List Project Engineer*/
.modal-title {
	color: #19569A;
	width: 98%;
	text-align: center;
  margin-bottom: -15px;
  /* line-height: 1.5; */
  margin-top: -15px;
}
	
/* The Modal (background) untuk List Project Engineer*/
.modal {
	/*width: 87%;*/
	/*min-height: 100px;*/
	/*margin-left: 240px;
	margin-top: 30px;*/
  /*padding-left: 17px;*/
  /*margin-left: 165px;*/
  /*margin-top: 15px;*/
  /*display: block;*/
}

.modal a.close1 {
    position: absolute;
    top: -10px;
    right: 6px;
    transition: all 200ms;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #7ba3d0;
    cursor: pointer;
}
.modal a.close1:hover {
  color: #19569A;
}

/*Untuk list project manager*/
.modal1 a.close1 {
  position: absolute;
  top: -10px;
  right: 6px;
  transition: all 200ms;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: #7ba3d0;
  cursor: pointer;
}
.modal1 a.close1:hover {
  color: #19569A;
}
/*Akhir untuk list project manager*/

/*Untuk keterangan di your project dan handover projects*/
.modalket a.closeket {
  position: absolute;
  top: -10px;
  right: 6px;
  transition: all 200ms;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: #7ba3d0;
  cursor: pointer;
}
.modalket a.closeket:hover {
  color: #19569A;
}
/*Akhir untuk keterangan di your projects dan handover projects*/

/*Modal untuk your projects dan handover projects*/
.modalproject {
  width: 88%;
  margin-left: 350px;
  margin-top: 100px;
  padding-left:17px;
  padding-right: 17px;
}
/*Akhir Modal untuk your projects dan handover projects*/

.box-header.with-border {
    border-bottom: none;
	/* padding-left:-10px;
	margin-left: -10px; */
	/* text-decoration: underline;
	margin-bottom: 25px;
	margin-top: 5px; */
}

.box-header {
    color: #444;
    display: block;
    padding: 1px;
    position: relative;
}

/* Modal Content untuk List Project Engineer */
.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  max-height: 600px;
}

/* The Close Button */
.tutup {
  color: #aaaaaa;
  /* float: left;*/
  font-size: 28px;
  font-weight: bold;
  padding-left: -100px;
  margin-top: -10px;
}

.tutup:hover,
.tutup:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  -webkit-transform: scale(1.1);
  	transform: scale(1.1);
}

.box.box-warning {
	margin-right: 10px;
	padding-right:5px;
}

.box {
    position: block;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    background: transparent;
    /*background: rgb(0,94,164);*/
/*background: linear-gradient(120deg, rgba(0,94,164,0.7819502801120448) 15%, rgba(103,177,255,0.9220063025210083) 66%);*/
    /* border-top: 2px solid #FFB067; */
	border-top: 2px solid #609380;
  border-bottom: 2px solid #609380;
  border-right: 2px solid #609380;
  border-left: 2px solid #609380;
	margin-top: 5px;
	margin-left: -5px;
	width: 100%;
	padding-right: 0;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); */
}

.box-body {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
	width: 40px;
}

.box-body input{
  width: 200px;
  margin-left: 25px;
}

.box-title {
    display: inline-block;
    font-size: 16px;
    margin: 0;
    line-height: 1;
	font-weight: bolder;
	margin-bottom: 0px;
	margin-top: 5px;
	/* text-decoration:underline; */
}

.input[type=file]{
	padding-left:-10px;
	width:25%;
}

.btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid;
}

.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
}

.custom-select {
    display: block;
    width: 69%;
    padding: 5px;
    color: #495057;
    vertical-align: middle;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /*background-position: right 1px center;*/
    border: 1px solid #ced4da;
    height: 34px;
    float: left;
    font-size: 12.5px;
}

.btn-ok {
    background-color: teal;
    border: teal;
    color: white;
    cursor: pointer;
    font-style: normal;
    font-size: 12px;
    font-weight: bolder;
    height: 32px;
    margin-top: 1px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    float: left;
    padding: 1px;
}

.container{
    display:table;
    width: 100%;
	font-family: sans-serif;
    border-collapse: collapse;
    line-height: 20px;
    border-collapse: collapse;
	text-align: center;
	border: 1px solid #265B8B !important;
	border-radius: 4px;
}

.heading{
    display:table-row;
	font-weight: bolder;
	padding: 10px 20px 10px 20px;
	/* border: 1px solid #84C7F2 !important; */
	vertical-align: middle;
	background-color: #77B8E4;
	color: white;
}

.container-tab{
    display:table;
    width: 100%;
	font-family: sans-serif;
    border-collapse:collapse;
    /* margin:0 auto; */
    line-height:25px;
	color: black;
    background-color: white;
    border-collapse: collapse;
/* 	table-layout:auto; */
	/* border: 1px solid blue !important; */
	text-align: center;
}

.btn-tab{
  background-color: white;
  color: #51bcda;
  border: 1px solid #51bcda;
  margin-right: 80px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bolder;
  height: 35px;
 }
 
 .collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

 
 /* Style the tab buttons */
.tablink {
	 background-color: #555;
	 color: white;
	 float: left;
	 border: white;
	 outline: none;
	 cursor: pointer;
	 /*  padding: 5px 15px; */
	  font-size: 14px;
	width: 20%;
	height: 20%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #777;
}

.button{
	/* width: 10%; */
 /*  background-color: #4CAF50; */
  background-color: teal;
  color: white;
  border: 1px solid teal;
  padding: 5px 2px;
  margin: 10px -5px 5px 0px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bolder;
  height: 35px;
  font-size: 11px;
 }
 
.button:hover{
	background-color: white;
	color: teal;
	border: 2px solid teal;
	-webkit-transform: scale(1.1);
  	transform: scale(1.1);
}
.status{
	/* margin: 5px;*/
	/* padding: 0px -50px 0px 10px; */
	margin-left: -5px;
	margin-right: -3px;
	padding-left: 1px;
	/* padding-right: -50px; */
	width: calc(100% - 20px);
	height: 35px;
	border-radius: 4px;
	font-size: 12px;
}
 
.upload-btn-wrapper {
  position: absolute;
  overflow: auto;
  display: inline-block;
  margin-left: -5px;
}

.btn-file{
  border: 3px solid blue;
  color: gray;
  background-color: white;
  padding: 8px 15px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  float: left;
}

.column-tab{ 
    display:table-cell;
	vertical-align: middle;
	font-family: sans-serif;
	/* border: 1px solid #84C7F2; */
	margin-left: 0px;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 85%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-reserved {
    background-color: #FAD02C;
}

.label-done {
    background-color: #0091E7;
}

.label-monitoring{
  background-color: #8FDDE7;
}

.label-projectdone{
  background-color: #AEAEAE;
}

.label-onprogress {
	background-color: #28a745;
}

.label-hold {
	background-color: #FF8000;
}

.label-drop {
	background-color: #E50027;
}
 
.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

.btn-keterangan{
  background-color: transparent;
  border: none;
}

/*Green Theme*/
.btn-collapse {
    background: #609380;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    height: 30px;
    color: white;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
    transition: 300ms ease-in-out, color 300ms ease-in-out;
    width: 100%;
    top: 0;
    outline: none;
    border: none !important;
    margin-top: -3px;
}

.btn-collapse:hover {
  color: #FFFAE5;
  background: #093F2D; 
}

/*Untuk submenu sidebar*/
[data-toggle="collapse"] .fa:before {  
  content: "\f13a";
  font-size: 16px;
  /*margin-left: 60px;*/
}

[data-toggle="collapse"],[aria-expanded="true"] .fa:before {
  content: "\f139";
  font-size: 16px;
}

.card-header{
	display: block;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	text-align: left;
	/* padding-left: 10px;
	margin-left:0px; */
	height: 25px;
	color: #DC7726;
	background: #FEDA15;
	vertical-align:middle;
	cursor: pointer;
	border-radius: 7px;
	/* transition: all 0.25s ease-out; */
	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
	width: 100%;
	padding-top: 0px;
}
.card {
  background-color: #E1ECF0;
  margin: 2px;
}

.card-content{
background-color: transparent;
  border-bottom-right-radius: 7px;
	transition: transform .2s ease-out;
	padding: 5px 5px 5px 10px;
	width: 100%;
	margin-right: 10px;
}

.collapse{
	background-color: transparent;
	width: 100%;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	padding: 5px -10px 5px -5px; /*mengatur jarak collapse dengan box*/
	margin-bottom: 10px;
	margin-right: 1px;
}
	
.collapse ::show{
	background-color: #F9EAC2;
	width: 100%;
	border-radius: 5px;
}

/* Hover animation for button submit */
.btn-upload {
	/*background-color: #E1ECF0;*/
  background-color: #19569A;
	color: white;
	padding: 3px 3px;
	width: 30%;
	margin: 15px 5px 10px;
  float: left;
	border-radius: 30px;
	cursor: pointer;
	font-weight: bolder;
	border: 2px solid #19569A;
	font-size: 16px;
	height: 45px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btn-upload:hover, .btn-upload:focus, .btn-upload:active {
  color: #19569A;
  background-color: transparent;
}

.btn-handover-done{
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
	display: button;
	background-color: transparent;
	color: #007bff;
    border: 2px solid #007bff;
    cursor: pointer;
  margin: 0px 3px 1px 0px;
	/*margin-top: 5px;*/
	border-radius: 5px;
	padding: 5px 5px;
	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
	display: inline-block;
	vertical-align: middle;
	/*height: 35px;*/
}

.btn-handover-done:hover{
	background-color: #007bff;
	color: #fff;
	border: 2px solid #007bff;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
}

.panel-body{
	background-color: #003371;
	/*background-color: #00478F;*/
	margin-bottom: 0px;
}

/*Submenu Close*/
[data-toggle="submenu1"] .fa:before {  
  content: "\f13a";
  font-size: 16px;
}

/*Submenu Open*/
[data-toggle="submenu1"],[aria-expanded="true"] .fa:before {
  content: "\f139";
  font-size: 16px;
}

.submenu in ul li a{
	list-style: none;
	background: #003371;
}

/*History PIC*/
.btnproject {
  background-color: transparent;
  color: #145DA0; /* White text */
  padding: 0px 0px; /* Some padding */
  margin: 2px 0px 2px 0px;
  font-size: 14px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border: 0;
  transition: background 0.3s ease-in;
  /*text-decoration: underline;*/
}

.btnproject:hover{
  /*color: white;*/
  font-weight: bold;
  box-shadow: 0 0 40px 40px #51bcda inset;
  border-radius:5px;
  text-decoration: none;
  /*-webkit-transform: scale(1.1);*/
  transform: scale(1.025);
}

/*History PIC dari setiap Project*/
.popover_parent {
  position: relative;
  display: inline-block;
}

.popover {
  display: none;
  background: #fff;
  border: 1px solid #138B83;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 1px;
  padding-bottom: 10px;
  border-radius: 10px;
  position: inherit;
  top: 5px;
  bottom: 10px;
  right: 150%;
  z-index: 1;
  min-width: 52vh;
  min-height: 150px;
  color: #FFF;
}

.popover:before {
  content: "";
  position: absolute;
  /*right: -5%;*/
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #138B83;
  transform: rotate(0deg);
}

.active .popover {
  display: block;
}

/*history PIC di list project*/
/*.line {
    top: 2px;
    left: 21px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 1px;
    background: #189AB4;
    margin-left: -1.5px;
}

.qualifications {
  position: absolute;
  top: 10px;
  left: 10px;
}

.tile-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 0 0 20px;
  padding-right: 1px;
}

.tile {
  position: relative;
  z-index: 10;
  background: #19569A;
  color: white;
  padding: 5px 0px 5px 0px;
  margin: 3px 38px;
  height: 32px;
  width:100%;
/*   -webkit-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.3); *
}

.tile p {
  margin: 0;
  font-weight: 500;
}

.tile:before {
  content: "";
  width: 20px;
  height: 21px;
  background: #19569A;
  display: block;
  position: absolute;
  top: 4px;
  left: -9px;
  z-index: -1;
  -webkit-transform: rotate(45deg); /* Chrome, Opera 15+, Safari 3.1+ *
  -ms-transform: rotate(45deg); /* IE 9 *
  transform: rotate(45deg); /* Firefox 16+, IE 10+, Opera */
}

/* Penggunaan bullet tanpa Inisial *
.tile-outer i.fa {
  margin: 13px 0 0 0;
  position: relative;
  color: #e7262b;
}

.circle{
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bolder;
  padding: 12px 5px;
  text-align: center;
  vertical-align: middle;
  color: #19569A;
  border: 1px solid #19569A;
  line-height: 1;
  position: fixed;
  margin-left: -21px;
}*/
/*akhir history PIC di list project*/

/*Button submit keterangan*/
.btn-submitket{
  background-color: transparent;
  color: #19569A;
  padding: 3px 3px;
  width: 50%;
  margin: 5px 85px 10px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bolder;
  border: 2px solid #19569A;
  font-size: 16px;
  height: 35px;
  display: inherit;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btn-submitket:hover{
  background-color:#19569A;
  color: white;
}

.selectpicam{
  size: 10 !important;
  /*max-height: 20px !important;*/
}

/*Button nama project*/
.btn-namaproject{
  font-style: italic underline;
}