.dalam{
   font-family: sans-serif;
   color: #3F92B7;
    background: #E3EFF9;
    width: 100%;
	margin-top:100px;
	padding: 12px -5px 12px 0px;
	table-layout: auto;
	/* border: none !important; */
	/* border: 1px solid blue !important; */
}
 
.dalam tr {
	background-color: #AACDE5;
    color:#3b737f;
	/* border: 1px solid #f2f5f7; */
	/* border: 1px solid; */
	/* border: 1px solid #35A9DB; */
	font-weight: bolder;
	margin: -20px 0px -10px 0px;
	/* border: 1px solid red; */
	/* border: none !important; */
	border: 1px solid black !important;
}
 
.dalam, th {
    text-align: center;
	/* border: none !important;  */
	/* border: 1px solid black; */
	border: 1px solid red !important;
}

/* .dalam, td {
    text-align: center;
	/* border: none !important;  */
	/* border: 1px solid black; *
}
 */