.search {
  /*width: 100%;*/
  position: absolute;
  /*display: flex;*/
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
/*   border-right: none; */
  padding: 5px;
  height: 20px;
  /*border-radius: 5px 5px 5px 5px;*/
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  /* top: 28%; */
  right: -28%;
  transform: translate(-50%, -50%);
  z-index: 100;
  margin-top: -15px;
}

.labelprojects{
  display: inline;
  padding: .2em .6em .3em;
  font-size: 85%;
  font-weight: bold;
  line-height: 1;
  color: black;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: .25em;
  font-weight: 500;
  font-size: 13px;
}

.textprojects{
  margin-top: -10px;
  border-radius: 5px;
  width: 165px;
}

.btn-edit{
  display: button;
  background-color: transparent;
  color: #ffc107; /* White text */
    border: 2px solid #ffc107; /* Remove borders */
    cursor: pointer;
  /*margin-top: 5px;*/
  border-radius: 5px;
  padding: 5px 5px;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  display: inline-block;
  vertical-align: middle;
  /*height: 35px;*/
}

.table1 a .btn-edit {
  color: #ffc107 !important;
  text-decoration: none;
}

.btn-edit:hover{
  background-color: #ffc107;
  color: white; /* White text */
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.btn-delete{
  padding-top:5px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: transparent;
  border: 2px solid #dc3545;
  color: #dc3545; /* White text */
  /*margin: 0px 0px 0px 0px;*/
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  font-style: normal;
  font-size: 14px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.btn-delete:hover{
  background-color: #dc3545;
  color: white; /* White text */
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.btnsubmit{
  background-color: transparent;
  color: #19569A;
  padding: 3px 3px;
  width: 30%;
  margin: 5px 0px 10px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bolder;
  border: 2px solid #19569A;
  font-size: 16px;
  height: 35px;
  /*display: inherit;*/
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btnsubmit:hover, .btn-submit:focus, .btn-submit:active {
  color: #fff;
  background-color: #19569A;
}

.btn-add{
    background-color: transparent;
    color: #FF8882 !important;
    border: 2px solid #FF8882;
    padding: 4px; 
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
    height: 35px;
/*  width: 100%; */
    font-size: 14px;
     margin-top: -10px;
     position: absolute;
    vertical-align: middle;
    z-index: 2;
    left: 190px;
}

.btn-add:hover, .btn-add:focus, .btn-add:active{
  background-color: #FF8882;
  color: white !important;
  border: 2px solid #FF8882;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/* The Modal (background) */
.modal {
  /*margin-left: 350px;*/
  /*margin-top: 80px;*/
  width: 100%
}

/* Modal Content */
.modal-content {
 background-color: #fefefe;
 padding-top: 0px;
 max-height: 525px
}

.modal a.close1 {
    position: absolute;
    top: -10px;
    right: 6px;
    transition: all 200ms;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #7ba3d0;
    cursor: pointer;
}
.modal a.close1:hover {
  color: #19569A;
}

input[type=text], select, textarea{
  width: 100%;
  padding-top: 30px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
/*   cursor: cursor; */
}

input[type=text], input[type=email], input[type=number], select{
  width: 100%;
  padding: 5px 5px;
  /*margin: 0px 10px;*/
  margin: 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: cursor;
  color: #19569A;
  background-color: transparent;
}

/*alert*/
.alert {
  display: none;
}

.error {
  color: #e74c3c;
}

.selectrole{
  padding:0px !important;
}