.table1 {
    width: 100%;
	border-collapse: collapse;
  overflow: hidden;
}
 
.table1 tr th{
	background-color: #19569A;
	color: white;
	border: 1px solid #f0f0f2 !important;
	font-weight: bolder;
	padding: 3px 10px 3px 10px;
	border-radius: 3px;
}
 
.table1, th, td: hover{
	background-color: #D7D5D3
}
.table1, th, td {
    text-align: center;
	/*background-color: #D9E4EC;*/
	background-color: #bddad954;
	/*border: 1px solid #f0f0f2 !important;*/
	border: 1px solid #ffff !important;
	color: #1C3F60;
	border-radius: 2px;
	margin-top: 25px;
}

/*.table1, tr:hover{
	background-color: grey;
}*/

/*.table1, tr:disabled, td{
	background-color: red;
}*/
/*td {
  word-wrap: word-break;
}*/

.btn-logout{
	float: right;
  margin-right: 10px;
  color: #19569A;
}

.namauser{
  margin-top: -39px;
  padding-right: 2px;
  padding-left: 2px;
  margin-left: 35px;
}

.namaweb{
	float: right;
}